@model IEnumerable<WebApplicationADs_Eixo2.Models.Calendario>
<link rel="stylesheet" href="~/css/Agendamento.css">

<div class="containerAgendamento">
    <h2>Agendamento: </h2>
    <ul class="listaCalendarios">
        @foreach (var item in Model)
        {
            foreach (var Id in ViewBag.Ids)
            {
                if (Id == item.Id)
                {
                    ViewBag.Class = "Aceito";
                    break;
                }
                else
                {
                    ViewBag.Class = "";
                }
            }


            <li>               
                <a asp-action="Details" asp-route-id="@item.Id" id ="@ViewBag.Class" class="linkCalendarios"> 
                            <img src="img/tempo-rapido.png" class="imgIndex">
                            <div>
                             Titulo:<br>   @Html.DisplayFor(modelItem => item.Titulo)
                            </div>                    
                            <div>
                             Inicio:<br> @Html.DisplayFor(modelItem => item.DtInicioEvento)
                            </div>
                            <div>
                            Fim:<br>@Html.DisplayFor(modelItem => item.DtFimEvento)
                            </div> 
                        </a>
                </li>
        }
    </ul>
</div>