@using System.Security.Claims;
@model WebApplicationADs_Eixo2.Models.Calendario

@{int CurrentUserId = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);}

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes sobre seu agendamento:</h1>

<div>
    <dl class="row">       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
    @if (Model.IdUser == CurrentUserId) {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    }
</div>
