@using System.Security.Claims;
@model IEnumerable<WebApplicationADs_Eixo2.Models.Calendario>

@{ var CurrentUserId = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);}

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamento:</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            @if (item.IdUser == CurrentUserId)
            {                    
                <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Cancelar</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
