@model IEnumerable<WebApplicationADs_Eixo2.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}
<h1 style="color:#ffff">Usuarios Cadastrados</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.Nome)
            </th>            
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.Login)
            </th >
           
            <th class ="text-custom">
                @Html.DisplayNameFor(model => model.IdPerfil)
            </th>
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.DtInclusao)
            </th>
            <th class="text-custom">
                @Html.DisplayNameFor(model => model.DtAlteracao)
            </th>
            <th class="text-custom"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
