@model WebApplicationADs_Eixo2.Models.Usuarios
@{
    ViewData["Title"] = "PerfilUsuario";
}
<link rel="stylesheet" href="~/css/profile.css">
<h1 style="color:#ffff">Perfil</h1>

<div class="container rounded bg-white mt-5 mb-5">
    <form asp-action="perfilUsuario">
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensagemErro"]
            </div>
        }
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="@Url.Action("ObterImagem", "Usuarios", new { id = Model.Id})">
                <span class="font-weight-bold">@Model.Nome</span>
                <span class="text-black-50">@Model.Email</span>
            </div>
            <input  type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">                
                
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2>Seus Dados</h2>
                    </div>
                    <hr />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Senha" />
                    <input type="hidden" asp-for="IdPerfil" />
                    <input type="hidden" asp-for="Ativo" />
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label asp-for="Nome" class="labels"></label>
                            <input asp-for="Nome" class="form-control" placeholder="Primeiro Nome" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">                            
                            <label asp-for="SobreNome" class="labels"></label>
                            <input asp-for="SobreNome" class="form-control" placeholder="segundo Nome" />
                            <span asp-validation-for="SobreNome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">                           
                            <label asp-for="Email" class="labels">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Informe seu Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Login" class="labels"></label>
                            <input asp-for="Login" class="form-control" placeholder="Informe seu Login" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="IdPerfil" class="labels"></label>
                            <select disabled asp-for="IdPerfil" asp-items="ViewBag.Perfis" class="form-control">
                                <option  value="@Model.IdPerfil">Selecione um perfil</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="DadosUsuarios.SobreUsuario" class="labels">Fale um pouco sobre você..</label>
                            <textarea asp-for="DadosUsuarios.SobreUsuario" class="form-control"></textarea>
                            <span asp-validation-for="DadosUsuarios.SobreUsuario" class="text-danger"></span>
                        </div>                       
                       
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2>Dados de contato e Endereço</h2>
                        </div>
                        <hr />
                        <div class="col-md-12">
                            <label asp-for="DadosUsuarios.Cep" class="form-label">CEP</label>
                            <input asp-for="DadosUsuarios.Cep" type="text" class="form-control" id="cep">
                        </div>
                        <div class="col-md-8">
                            <label asp-for="DadosUsuarios.Rua" class="form-label">Rua</label>
                            <input asp-for="DadosUsuarios.Rua" type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label asp-for="DadosUsuarios.Numero" class="form-label">Número</label>
                            <input asp-for="DadosUsuarios.Numero" type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label asp-for="DadosUsuarios.Bairro" class="form-label">Bairro</label>
                            <input asp-for="DadosUsuarios.Bairro" type="text" class="form-control">
                        </div>
                        <div class="col-md-8">
                            <label asp-for="DadosUsuarios.Cidade" class="form-label">Cidade</label>
                            <input asp-for="DadosUsuarios.Cidade" type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label asp-for="DadosUsuarios.Estado" class="form-label">Estado</label>
                            <input asp-for="DadosUsuarios.Estado" type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label asp-for="DadosUsuarios.Telefone" class="form-label">Telefone</label>
                            <input asp-for="DadosUsuarios.Telefone" type="text" class="form-control" id="telefone">
                        </div>
                        <div class="col-md-6">
                            <label asp-for="DadosUsuarios.Celular" class="form-label">Celular</label>
                            <input asp-for="DadosUsuarios.Celular" type="text" class="form-control" id="celular">
                        </div>
                    </div>                  
                    
                    <div class="mt-5 text-center"><input type="submit" value="Salvar Dados" class="btn btn-primary profile-button" /></div>
                
                
            </div>
        </div>
    </form>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <form action="/Usuario/TrocarSenha" method="post">
                    <div class="mb-3">
                        <label for="senhaAtual" class="form-label">Senha Atual</label>
                        <input type="password" class="form-control" id="senhaAtual" name="senhaAtual" required>
                    </div>
                    <div class="mb-3">
                        <label for="novaSenha" class="form-label">Nova Senha</label>
                        <input type="password" class="form-control" id="novaSenha" name="novaSenha" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmarNovaSenha" class="form-label">Confirmar Nova Senha</label>
                        <input type="password" class="form-control" id="confirmarNovaSenha" name="confirmarNovaSenha" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Trocar Senha</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}